body{
	margin:0px 150px;
}

span,ul{
	font-family: 'Work Sans', sans-serif;
	line-height: 2.2;
	font-size: 22px;
}
a{
	font-style: italic;
	color: #5da8f4;
}
.video{
	color: red;
}
.cookie{
	color: #0946a5;
}
ul{
	font-style: italic;
	color: red;
	list-style-type: disc;
}