caption{
	text-transform: uppercase;
	color: #404951;
	font-size: 40px;
}
table,tr,td,th{
	border: 2px solid #9ea3a8;
}
table{
	width: 30%;
	border-collapse: collapse;
	margin-top: 35px;
}

hr{
	margin-top: 35px;
	background-color: #acb5c1;
}